.underline a {
  text-decoration-line: none;
}

.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 29px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: var(--gray);
  font-size: 17px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.user-component__time {
  display: flex;
  margin-bottom: 10px;
}
.user-component__text {
  position: relative;
}
.user-component__text span {
  position: absolute;
  border: 1px solid red;
  border-radius: 50%;
  width: 1.5em;
  line-height: 1.5em;
  padding: 0.1px 0.2px;
  color: red;
  font-size: 0.5em;
  text-align: center;
  right: -17px;
  bottom: 1px;
  font-weight: 600;
}
